<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İstanbul Tesisat Hizmetleri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 text-gray-900 font-sans antialiased">
    <div id="notifications" class="fixed top-4 right-4 z-50 space-y-2"></div>
    
    <div class="min-h-screen flex flex-col">
      <%= render 'shared/navbar' %>
      
      <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <%= render 'shared/flash' %>
        <%= yield %>
      </main>
      
      <%= render 'shared/footer' %>
      <%= render 'shared/sticky_cta' %>
    </div>
  </body>
</html>
